


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#dfdf12, #020202 );
  min-height: 100vh;
  padding: 10px;
}
.paginacion ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #ffffff3d;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.paginacion ul li{
  color: #202ab2;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.3s ease;
}
.paginacion ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.paginacion ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.paginacion ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.paginacion ul li.dots{
  font-size: 22px;
  cursor: default;
}
.paginacion ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.paginacion li.active,
.paginacion ul li.numb:hover,
.paginacion ul li:first-child:hover,
.paginacion ul li:last-child:hover{
  color: #fff;
  background: #3b20b2;
}